<!doctype html>
<html >
	<head lang="en">
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Style Sheet -->
		<link rel="stylesheet" href="/stylesheets/main.css">
		
    	<title>YelpCamp</title>
	</head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">YelpCamp</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hidden">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="hidden">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
			<% if (!currentUser){ %>
				<a class="btn btn-outline-primary my-2 my-sm-0 float-right m-1" href="/register">Sign up</a>
				<a class="btn btn-outline-primary my-2 my-sm-0 float-right m-1" href="/login">Login</a>
			<% } else { %>	
				<a class="nav-link" href="#">Signed in As <%= currentUser.username %></a>
				<a class="btn btn-outline-primary my-2 my-sm-0 float-right m-1" href="/logout">Logout</a>
			<% } %>
		</div>
	</nav>
	  
	<div class="container m-3">
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>	
		<% } %>
		<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
		<% } %>
	</div>
	

