/*
selector{
	property: value;
}
*/

/* Color */
h3 {
	color: red;
}

h4 {
	color: #4298f4;
}

h5 {
	color: rgba(0, 200, 100, 0.5);
}

/* Background */
#firstline{
	background: yellow;
	width: 21%;
}

body {
	/*background: #fffce0 ;*/
	background: url(https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 30px;
}

/* Border:*/
#border {
	border-color: #f4bc3a;
	border-width: 2px;
	border-style: solid;
	/* border: black 2px dashed */
	width: 12%;
	padding: 5px;
	text-align: center;
}

/* Class Selector */
.completed {
	text-decoration: line-through;
}

/* Star Selector: select everything on the page */
* {

}

/* Decsendent Selector */
ol li {
	color: red;
}

/* Adjacent Selector */
em + a {
	border: black 1px dashed;
}

/* Attribute Selector */
a[href="https://www.google.com.hk/?client=safari&channel=iphone_bm"]{
	background-color: lightblue;
}

/* nth of type */
p:nth-of-type(2){
	background-color: rgba( 255, 0, 0, 0.2);
	width: 30%;
}

/* Fronts */
#s1{
	font-family: Courier New;
}

#s2{
	font-size: 20px;
}


#s3{
	font-size: 1.5em;
}

#s4{
	font-weight: bold;
}

#fontpara{
	line-height: 2;
}

#s5{
	text-decoration: underline;
}

#s6{
	text-decoration: line-through;
}

/* Google Font */
#gMoo{
	font-family: 'Swanky and Moo Moo'; 
}

#gMali{
	font-family: 'Mali';
}

/** Box Model */
/*
selector{
	Content: width + height;
	Border:
	Pading:
	Margin:
}
Use this to change the background and border above
*/

#m{
	background-color: lightgray;
	border: rgba( 0, 0, 0, 0.8) solid 2px;
	/*margin: 20px;*/
	/*margin-top: 20px;*/
	/*margin: 20px 50px 10px 50px;*/
	margin: auto 20px;
}

#tic{
	background-color: rgba( 255, 255, 255, 0.0);
}

#blog{
	margin: 20px 0px 100px 0px;
}


h1{
	margin: 50px 0px 10px 0px;
	text-align: center;
    font-size: 50px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

#author{
	text-align: center;
	color: black;
	margin: 20px 0px 50px 0px;
}


