<% include partials/header%>
<h1>
	Welcome to the home page
</h1>

<img src="https://res.cloudinary.com/teepublic/image/private/s--EhHwd6Pg--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1526273367/production/designs/2684128_0.jpg">

<% include partials/footer%>