<h2>
	 Stitch is my favorite Disney character!!!
</h2> 


<h1>
	<% if(sentence){ %>
		<h2>
			<%= sentence.toUpperCase();%>
		</h2>
	<% }else{%>
		<p2>What is your answer? Yes or no?</p2>
	<% } %>
</h1>