<!doctype html>
	<head>
		<title>MyBlog</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
<body>
	
	<div class="ui inverted fixed pointing menu">
	  <a class=" header item"><i class="home icon"></i>Blog Site</a>
	  <a class="item" href="/">Home</a>
	  <a class="item" href="/blogs/new">New Post</a>
	</div>

	 